

@-webkit-keyframes opacity-turner {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes opacity-turn-down-for-what {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}



body {
	margin:0;
	padding:0;
	height:100%;
	color: white;
	font-size: 0.9em;
	background-position: center; 
	background-image: url('/images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	;
	font-family: 'Coda', cursive;
}

#wrapper {
	min-height:100%;
	position:relative;
}

.header {
	background-color: #222;
	position: absolute;
	font-size: 1.9em;
	left: 20px;
	top: 20px;
	width: 300px;
	height: 150px;
	border-radius: 50px;
	border-top: 2px solid gray;
	border-bottom: 2px solid white;
	padding: 30px;
}

.header a {
	color: white;
	text-decoration: none;
}

#head:hover {
	color: #99FF00;
}

#topnavbutton {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 90px;
	left: 400px;
	border: 1px solid white;
	color: white;
	background-color: #333;
	border-radius: 20px;
}

.nav {
	list-style-type: none;
	position: absolute;
	right: -950px;
	top: 0px;
	margin: 0;
  padding: 0;
}

.rolls {
	-webkit-animation: opacity-turner 3s;
	-webkit-transition: all 2s ease-in-out;
	-webkit-transform: translate(-1000px,0) rotate(360deg);
	background-color: #222;

}

.before {
	display: inline-block;
	text-align: center;
	font-size: 1.3em;
	width: 100px;
	height: 100px;
	padding: 0px 20px 35px 20px;
	margin: 20px 50px 10px 30px;
	border-radius: 130px;
	border-top: 2px solid gray;
	border-bottom: 2px solid white;
}

.nav li a:hover {
	font-style: italic;
}

.nav li a {
	color: white;
	opacity: 10%;
	text-decoration: none;
}

.username {
 position: relative;
 top: 20px;
}

.username a {
	text-decoration: none;
	color: white;
}

.username a:hover {
	color: gray;
	font-style: italic;
}

.sidebar {
	background-color: #222;
	height: 400px;
	width: 225px;
	position: fixed;
	top: 250px;
	left: 25px;
	border-radius: 50px;
	border-bottom: 2px solid white;
	border-top: 2px solid gray;
}

.message {
	-webkit-animation: opacity-turn-down-for-what 3s;
	text-align: center;
	font-size: 0.8em;
	opacity: 0;
}

.login {
	width: 200px;
	position: relative;
	top: 50px;
	left: 15px;
}

.logged {
	text-align: center;
}

.signup {
	color: #AAA;
	text-decoration: none;
	font-weight: bold;
	margin-left: 40px;
}

.signup:hover {
	color: white;
}

.main {
	position: relative;
	width: 700px;
	left: 450px;
	top: 200px;
	overflow: scroll;
	padding: 100px;
}

.topics {
	background-color: #666;
	padding: 20px;
	border-radius: 20px;
}

.popularity {
	position: relative;
	left: -70px;
	top: 100px;
	text-align: center;
	width: 50px;
	height: 50px;
	color: white;
}

.count {
	position: relative;
	top: 5px;
	left: 580px;
}

.sort {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

.sort:hover {
	font-style: italic;
	color: white;
}

.upvote {
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}

.topicname {
	background-color: #444;
	opacity: 0.9;
	padding: 20px;
	border-radius: 20px;
}

.topicname a {
	color: #222;
}

.toptitles {
	font-size: 2.5em;
	text-decoration: none;
}

.toptitles:hover {
	font-style: italic;
}

.desc {
	margin-left: 40px;
	}

hr {
	width: 500px;
	border: 0;
  border-bottom: 1px dashed #888;
  background: #555;
}

.op:hover {
	width: 200px;
	background-color: #444;
	border-radius: 50px;
}

.op:hover:after {
	font:status-bar;
	font-size: 0.7em;
	content: " --- op";
}

.permalink {
	float: left;
	position: relative;
	left: 590px;
	top: 130px;
	text-align: right;
}

.permalink a {
	color: grey;
	text-decoration: none;
}

.permalink a:hover {
	font-style: italic;
}

.delete {
	float: left;
	border: 1px solid #333;
	color: gray;
	background-color: #333;
	border-radius: 10px;
}

.delete:hover {
	color: white;
}

.del {
	float: left;
	position: relative;
	padding: 3px;
	top: 140px;
	left: -5px;
	border: 1px solid #333;
	color: gray;
	background-color: #333;
	border-radius: 10px;
}

.del:hover {
	color: white;
	font-weight: bold;
}

.edit {
	width: 100px;
	margin-bottom: 15px;
}

.edit a {
	font-weight: bold;
	color: gray;
	padding: 0px 3px 0px 3px;
	background-color: #333;
	text-decoration: none;
	border: 1px solid #333;
	border-radius: 25px;
}

.edit a:hover {
	color: white;
	padding: 2px 5px 2px 5px;
}

.location {
	color: gray;
	font-size: 0.9em;
}

.proflink {
	height: 125px;
	padding: 10px;
}

.proflink a {
	color: grey;
	font-weight: bold;
	text-decoration: none;
}

.proflink a:hover {
	color: white;
}

.userpic {
	width: 50px;
	height: 50px;
	margin-top: 0px;
	margin-left: 0px;
	border-radius: 50px;
}

.avatar {
	max-width: 250px;
	max-height: 250px;
	border-radius: 150px;
}

.title {
	width: 200px;
	text-align: center;
	position: relative;
	left: 90px;
}

.prof {
	width: 500px;
	padding: 50px;
	background-color: #444;
	opacity: 0.95;
	border-radius: 100px;
}

.editprof {
	float: right;
	text-align: right;
}

.editprof a {
	color: gray;
	text-decoration: none;
}

.editprof a:hover {
	color: white;
	font-style: italic;
}

.postedit {
	width: 100px;
	color: white;
	font-size: 2em;
	background-color: #333;
	position: relative;
	left: 140px;
	border: 0px;
	border-radius: 30px;
}

.add {
	background-color: #333;
	color: white;
	font-size: 2em;
	text-align: center;
	margin-top: 10px;
	height: 40px;
	width: 40px;
	border-radius: 25px;
}

#subject {
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	width: 300px;
	height: 30px;
	background-color: #777;
	border: 1px solid white;
	border-radius: 20px;
}

.input {
	padding: 10px;
	background-color: #777;
	border: 1px solid white;
	border-radius: 20px;
}

.forms {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in;
}

.forms-change {
	position: relative;
	left: 390px;
	bottom: 0px;
	visibility: visible;
	opacity: 1;
}

#collapse {
	width: 500px;
}

#postcenter {
	margin-left: 75px;
}

.sub {
	width: 100px;
	color: white;
	font-size: 2em;
	background-color: #333;
	position: relative;
	right: -110px;
	border: 0px;
	border-radius: 30px;
}

.subject {
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
}

.comment {
	position: relative;
	top: 10px;
	left: 50px;
	width: 600px;
	margin: 15px;
}

.opcomment {
	position: relative;
	top: 20px;
	left: 50px;
	width: 600px;
	margin: 30px;
}


.content {
	position: relative;
	margin-top: 10%;
	padding-bottom: 20%; 
}

.credits {
	font-size: .9em;
	height: 50px;
	width: 200px;
	padding: 20px;
	position: absolute;
	right: 20px;
	text-align: center;
	background-color: #222;
	border-radius: 50px;
	border-bottom: 2px solid white;
	border-top: 2px solid gray;
}

